.breadcrumbBox {
    // margin-bottom: .5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.userLayoutContentBox {
    padding: 1.5rem;
    // margin: 1.5rem 16px;
    margin-bottom: 1.5rem;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 1rem;
    min-height: 360px;
    border-radius: 10px;
}