#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  .login_conteiner{
    height: 100vh;
    align-items: center;
    display: flex;
  }
  .login_box{
    display: grid;
    margin: 0 auto;
    align-items: center;
  }
  .login_button_box{
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }